[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
pillow = "*"
django-cors-headers = "*"
drf-spectacular = {extras = ["sidecar"], version = "*"}
channels = {extras = ["daphne"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
